/*
* @Author: Administrator
* @Date:   2017-10-07 20:30:33
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-08 17:14:07
*/
@import url('base.css');
header{
	width: 1320px;
	height: 100px;
	/* background: #ccc; */
	margin: 0 auto;
}
header h1{
	font-size: 40px;
	line-height: 100px;
	text-align: center;
}
.first1{
	width: 1320px;
	height: 220px;
/* 	background: blue; */
    margin: 0 auto;
	cursor: pointer;
}
.first1 li{
	width: 220px;
	height: 220px;
/* 	background: orange; */
	border: 1px solid white;
	float: left;
    transition: all 0.5s;
}
.first1 li img{
	display: block;
	width: 100%;
	height: 100%;
}
.first1 li:nth-child(3){
	width: 440px;
	height: 100%;
	border: none;
}
.first1 li h1{
	font-size: 80px;
	color: #aeafaf;
	text-align: center;
	line-height: 200px;
}
.first1 li:hover{
	transform: translateY(-5px);
	transform: scale(1.1, 1.1);
}
.daohang{
	width: 1320px;
	height: 80px;
	background: #ccc;
	margin: 0 auto;
	margin-bottom: 100px;

}
.daohang li{
	width: 264px;
	height: 100%;
    border-right: 1px solid white;
    float: left;
    transition: all 1s;

}
.daohang li:hover{
	background: #3c3e3c;
}
.daohang li p{
	font-size: 30px;
	line-height: 80px;
	text-align: center;
}
.yinyue{
	width: 1320px;
	height: 457px;
	/* background: pink; */
	margin: 0 auto;
	margin-bottom: 100px;
}
.yinyue .zuobian{
	width: 307px;
	height: 100%;
	/* background: blue; */
	float: left;
}
.zuobian li{
	width: 100%;
	height: 85px;
	/* background: red; */
	margin-bottom: 8px;
	border: 1px solid #4092fc;
	position: relative;
	
}
.zuobian li:hover .left{
    background: white;

}
.zuobian li:hover .iconfont{
	color: #1372ec;
}
.zuobian li .right:hover{
	background: blue;
}
.youbian{
	width: 982px;
	height: 100%;
	border: 1px solid #4092fc;
    float: left;
    margin-left: 30px;
    position: relative;
}
.zuobian .left{
    width: 85px;
    height: 85px;
    background: #045ccd;
    transition: all 1s;
}
.left .iconfont{
	font-size: 30px;
	color: white;
	text-align: center;
	line-height: 85px;
}
.zuobian .right{
	width: 220px;
	height:85px;
/* 	background: orange; */	
	position: absolute;
	top: 0;
	right: 0;
	transition: all 1s;
}
.right p{
	font-size: 18px;
	padding: 10px;
	
	color: black;
}
.zhaopian{
	width: 250px;
	height: 250px;
	background: red;
	position: absolute;
	top: 100px;
	left: 100px;
}
.zhaopian img{
    display: block;
    width: 100%;
    height: 100%;
}
.youbian p{
	margin-left: 400px;
	margin-top: 90px;
	font-size: 16px;
}
.sange{
	width: 1320px;
	height: 490px;
  /*   background: pink; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.sange li{
	width: 420px;
	height: 100%;
	border: 1px solid blue;	
}
.sange li:nth-child(2){
	background: blue;
	border: none;
	color: white;
}
.sange h1{
	padding: 20px;
}
.sange p{
	font-size: 16px;
	margin-top: 20px;
	margin-left: 40px;
}
.sige{
	width: 1320px;
	height: 435px;
	background: #d0d1d2;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	margin-bottom: 80px;
}
.sigezhao{
	width: 435px;
	height: 100%;
	/* background: red; */
	position: absolute;
	top: 0;
	left: 0;
}
.sigezhao img{
	display: block;
	width: 100%;
	height: 100%;
}
.sige h1{
	margin-left: 500px;
	margin-top: 50px;
}
.sige p{
	margin-left: 500px;
	margin-top: 50px;
}
.xiabiao{
	width: 710px;
	height: 70px;
	margin: 0 auto;
	margin-bottom: 100px;
}
.xiabiao li{
	width: 142px;
	height: 100%;
	/* border: 1px solid black; */
	float: left;
}
.xiabiao a{
  color: #99c4fb;
  font-size: 25px;
  line-height: 70px;
  text-align: center;
  padding-left: 10px;
}